# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/

.env

# ---- Virtual Environment ----
venv/
ENV/
env/
.venv/

# ---- Streamlit ----
.streamlit/secrets.toml

# ---- Logs & Cache ----
*.log
*.sqlite3
*.db
tmp/
temp/
*.tmp
*.cache/
cache/

# ---- Jupyter Notebooks ----
.ipynb_checkpoints/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDE / Workspace ----
.vscode/
.idea/